*{
    direction: rtl;
    text-align: center;
}
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}
.search-input{
    display: flex;
    max-height: 500px;
    min-width: 300px;
}